@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
/* email elgocode1@gmail.com
instagram elgocode  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: rgb(13, 0, 65);
    overflow: hidden;
}
.elgocode{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 500;
    font-size: 15px;
}
.flex{
    display: flex;
    align-items: center;
    gap: 5px;
}
.flex a{
    color: white;
}
.fa-regular{
    color: red;
}
.game{
    width: 400px;
    height: 400px;
    border: 1px solid rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.box{
    border: 1px solid rgba(255, 255, 255, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.box.x::after{
    content: "";
    animation: graw 0.2s forwards cubic-bezier(0.57, 0.24, 0.02, 1.96);
    background: rgb(146, 134, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgb(146, 134, 255),0px 0px 100px rgb(146, 134, 255);
}


.box.o::after{
    content: "";
    animation: graw 0.2s forwards cubic-bezier(0.57, 0.24, 0.02, 1.96);
    background: rgb(255, 243, 134);
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(255, 243, 134),0px 0px 100px rgb(255, 243, 134);
}



@keyframes graw{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 40px;
        height: 40px;
    }
}
.x{
    color: rgb(146, 134, 255);
    text-shadow: 0px 0px 50px rgb(146, 134, 255);
}

.o{
    color: rgb(255, 243, 134);
    text-shadow: 0px 0px 50px rgb(255, 243, 134);
}
.draw{
    color: white;
}

.winner-window{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 22, 22, 0.747);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    z-index: 1000;
}   

.btn{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: rgb(0, 102, 255);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background: rgb(44, 128, 255);
}
.btn:active{
    transform: scale(0.95);
}

.winner-window.show{
    display: flex;
}


.b1,.b2,.b3{
    border-top: none;
}
.b1,.b4,.b7{
    border-left: none;
}
.b3,.b6,.b9{
    border-right: none;
}
.b7,.b8,.b9{
    border-bottom: none;
}

.particle{

    position: absolute;
    transform: translate(-50%,-50%);
}
.particle.x{
    background: rgb(146, 134, 255);
    box-shadow: 0px 0px 50px rgb(146, 134, 255);
}

.particle.o{
    background: rgb(255, 243, 134);
    box-shadow: 0px 0px 50px rgb(255, 243, 134),0px 0px 100px rgb(255, 243, 134);
}


/* email elgocode1@gmail.com
instagram elgocode  */

